<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Our Facility
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page2">
  <h3 padding-left id="mealOffering-heading2" style="color:#000000;">
    Lunch Offering
  </h3>
    <ion-card *ngFor="let player of heroes" id="mealOffering-list5" style="background-color: #e5e6e8;">
    <ion-item color="none" on-click="goToFacilityDetailAndOrder(player)" id="mealOffering-list-item15" style="background-color: #e5e6e8;">
      <ion-thumbnail item-left>
        <img src={{player.url}} />
      </ion-thumbnail>
      <h2>
        {{player.name}}
          <p>
          <ion-badge item-end *ngIf="player.status==true" color="secondary" >Available</ion-badge>
          <ion-badge item-end *ngIf="player.status==false" color="dark">Currently Full</ion-badge>
        </p>
      </h2>
      <p>
        <ion-badge no-margin item-end>{{player.type}}</ion-badge>
      </p>
    </ion-item>
  </ion-card>

</ion-content>
